// Import page-specific CSS files here.
@import "home";

 #mainView {
  display: flex;
}

#mapContainer {
  height: 100vh;
  position: sticky;
  top: 100px;
  width: 1000px;
  height: 500px;
  margin-right: -150px;
}