// Import page-specific CSS files here.
@import "home";

 #mainView {
  display: flex;
  justify-content : space-between;
}

#mapContainer {
  position: sticky;
  top: 80px;
  width: 700px;
  height: 90vh;
  margin-top: 20px;
  margin-right: -90px;
}

.container-watches {
  display: flex;
  flex-wrap: wrap;
  margin:-10px;
  width: 1000px;
}
