// Import page-specific CSS files here.
@import "home";

 #mainView {
  display: flex;
  justify-content : space-between;
}

#mapContainer {
  margin-top: -20px;
  position: sticky;
  top: 80px;
  width: 700px;
  height: 100vh;
  margin-right: -150px;
}

.container-watches {
  display: flex;
  flex-wrap: wrap;
  margin:-10px;
  width: 1000px;
}
