<div id="root">
  <div id="topnav" class="topnav">
    <a id="home_link" class="topnav_link" href="/"><h1 class="title">OhMyWatch</h1></a>

    <a id="topnav_hamburger_icon">
      <!-- Some spans to act as a hamburger -->
      <span></span>
      <span></span>
      <span></span>
    </a>
    <a href="#"><%= image_tag("avatar", class: "avatar") %></a>
    <!-- Responsive Menu -->
    <nav role="navigation" id="topnav_responsive_menu">
      <ul>
        <li><a href="/"><p class="text-navbar">HOME</p></a></li>
        <li><a href="#"><p class="text-navbar">PROFIL</p></a></li>
        <li><a href="#"><p class="text-navbar">WATCHES</p></a></li>
        <li><a href="#"><p class="text-navbar">BOOKINGS</p></a></li>
      </ul>
    </nav>
  </div>
</div>
