<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('<%= cl_image_path @background %>')">
  <div class="container">
    <div class="contain">
      <h1>OhMyWatch <strong>add style</strong> to <strong>your outfit.</strong></h1>
      <p>Change your watch as soon as you want.</p>
    </div>
  </div>
</div>
<%= link_to 'Book now', watches_path, class: 'book_now2' %>
<div class="container-fixed">
  <div class="fixed">
    <div class="transparent">
    <%= image_tag("watch.png", class: "watch") %>
    </div>
  </div>
  <div class="text-fixed">
    <h1 class="text">the sign of quality</h1>
    <p class="description-black">The high-performance Breitling watch adapted to all your desires, with a four-year calendar.</p>
  </div>
</div>
<div class="test">
  <div class="text-not-fixed">
    <h1 class="text2">Exact time for life</h1>
    <p class="description-white">The Speedmaster Moonwatch is one of the most iconic watches in the world. Used during the six moon landings, this legendary chronograph perfectly embodies the pioneering and adventurous spirit of the House.</p>
  </div>
  <div class="transparent2">
    <%= image_tag("watch2.png", class: "watch2") %>
  </div>
</div>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    ©2021 <i class="fas fa-heart"></i> OhMyWatch
  </div>
</div>
