.book_now {
  width: 100px;
  height: 37px;
  background-color: #F59A07;
  text-align: center;
  font-size: 24px;
  border-radius: 5px;
  color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: sticky;
  top: 600px;
  float: left;
  margin-left: 30px;
  transition: 0.5s;
  z-index: 99;
  text-decoration: none;
  margin-bottom: 100px;
}

.book_now:hover{
  width: 102px;
  height: 38px;
  transition: 0.5s;
  text-decoration: none;
  color: white;
}

.book_now2 {
  width: 150px;
  height: 37px;
  background-color: #F59A07;
  text-align: center;
  font-size: 24px;
  border-radius: 5px;
  color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: sticky;
  top: 600px;
  float: left;
  margin-left: 30px;
  transition: 0.5s;
  z-index: 99;
  text-decoration: none;
  margin-bottom: 100px;
}

.book_now2:hover{
  width: 152px;
  height: 38px;
  transition: 0.5s;
  text-decoration: none;
  color: white;
}

@media (max-height: 538px) {
  .book_now2 {
    position: sticky;
    top: 440px;
  }
  .book_now {
    position: sticky;
    top: 440px;
  }
}
@media (max-height: 588px) and (min-height: 538px) {
  .book_now2 {
    position: sticky;
    top: 490px;
  }
  .book_now {
    position: sticky;
    top: 490px;
  }
}
@media (max-height: 638px) and (min-height: 588px) {
  .book_now2 {
    position: sticky;
    top: 540px;
  }
  .book_now {
    position: sticky;
    top: 540px;
  }
}
@media (max-height: 688px) and (min-height: 638px) {
  .book_now2 {
    position: sticky;
    top: 590px;
  }
  .book_now {
    position: sticky;
    top: 590px;
  }
}
@media (max-height: 738px) and (min-height: 688px) {
  .book_now2 {
    position: sticky;
    top: 640px;
  }
  .book_now {
    position: sticky;
    top: 640px;
  }
}
@media (max-height: 788px) and (min-height: 738px) {
  .book_now2 {
    position: sticky;
    top: 690px;
  }
  .book_now {
    position: sticky;
    top: 690px;
  }
}
