.card {
  transition: 0.5s;
  width: 300px;
  height: 350px;
  background-color: #D5D8DC;
  opacity: 0.9;
  margin: 30px;
  text-align: center;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card img {
  border-radius: 5px 5px 0px 0px;
  height: 100%;
  width: 100%;
}

.model {
  margin-top: 20px;
  font-size: 20px;
  opacity: 0.8;
}

.price {
  position: absolute;
  right: 30px;
  bottom: 10px;
  opacity: 0.8;
}

.card:hover {
  transition: 0.5s;
  width: 320px;
  height: 370px;
}

.btn-edit {
  transition: 0.5s;
  text-decoration: none;
  color: inherit;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: white;
  position: absolute;
  left: 20px;
  bottom: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.btn-edit:hover {
  transition: 0.5s;
  text-decoration: none;
  color: inherit;
  color: white;
  background-color: grey;
}
.container {
  margin-top: 30px;
}

.btn {
  transition: 0.5s;
  text-decoration: none;
  color: inherit;
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
  background-color: grey;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.btn:hover {
  transition: 0.5s;
  text-decoration: none;
  color: inherit;
  color: white;
  padding: 12px 22px;
}

.image {
  height: 300;
  width: 400;
}

.card2 {
  margin: 30px auto;
  width: 800px;
  height: 60vh;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card2 img{
  margin-top: 0px;
  margin-left: 30px;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.model2 {
  margin-top: 20px;
  font-size: 40px;
  opacity: 0.8;
  text-align: center;
}

.price2 {
  margin-left: 30px;
  opacity: 0.8;
  margin-top: 100px;
}

.btn-edit2 {
  transition: 0.5s;
  text-decoration: none;
  color: inherit;
  border-radius: 5px;
  background-color: white;
  height: 30px;
  width: 100px;
  margin-top: 250px;
  margin-right: 100px;
  padding-top: 3px;
  text-align: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.btn-edit2:hover {
  transition: 0.5s;
  text-decoration: none;
  color: inherit;
  color: white;
  background-color: grey;
}

.btn-book {
  transition: 0.5s;
  text-decoration: none;
  color: inherit;
  border-radius: 5px;
  margin-top: 250px;
  height: 30px;
  width: 150px;
  margin-right: 20px;
  text-align: center;
  background-color: #F59A07;
  padding-top: 3px;
  color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.btn-book:hover {
  transition: 0.5s;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  color: white;
  background-color: grey;
}

.btn-danger {
  color: black;
  margin-right: 20px;
  font-size: 24px;
  background-color: white;
  opacity: 0.5;
  position: relative;
  top: -70px;
  left: 770px;
}
.btn-danger:hover {
  background-color: white;
  text-decoration: none;
  color: black;
  opacity: 1;
}

.btn-danger:active {
  background-color: white;
  text-decoration: none;
  color: black;
  opacity: 1;
}

.info {
  display: flex;
  justify-content: space-between;
}
