.start_date {
  background-color: #F59A07;
  width: 30%;
  border-radius: 5px;
  color: white;
  margin-left: 20px;
}

.end_date {
  background-color: #F59A07;
  width: 30%;
  border-radius: 5px;
  color: white;
  margin-left: 20px;
}

.card3 {
  transition: 0.5s;
  width: 400px;
  height: 450px;
  background-color: #D5D8DC;
  opacity: 0.9;
  margin: 30px;
  text-align: center;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card3 img {
  border-radius: 5px 5px 0px 0px;
  height: 70%;
  width: 100%;
}

.card3:hover {
  transition: 0.5s;
  width: 410px;
  height: 460px;
}

.btn-edit3 {
  transition: 0.5s;
  text-decoration: none;
  color: inherit;
  border-radius: 5px;
  background-color: white;
  padding: 3px 20px;
  margin-top: 250px;
  margin-right: 100px;
  text-align: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: relative;
  left: 200px;
  bottom: 85px;
}

.btn-edit3:hover {
  transition: 0.5s;
  text-decoration: none;
  color: inherit;
  color: white;
  background-color: grey;
}

.total_price {
  position: relative;
  bottom: 70px;
}

.btn-cross {
  position: relative;
  bottom: 480px;
  left: 100px;
  text-decoration: none;
  color: #F59A07;
  font-size: 24px;
}
.btn-cross:hover {
  text-decoration: none;
  color: #F59A07;
}
